.Footer {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #3f3f3f;
  }
  
  .Footer a {
    color: #251943;
    text-decoration: none;
  }
  
  .Footer a:hover {
    text-decoration: underline;
  }
  